name: Test

on:
  push:
    branches: [master]

defaults:
  run:
    shell: bash

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        runs-on: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{matrix.runs-on}}
    steps:
      - name: Print Kernel Name
        run: uname -s
      - name: Print Operating System
        run: uname -o
