name: Test

on:
  push:
    branches: [main]

jobs:
  test:
    strategy:
      matrix:
        runs-on: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{matrix.runs-on}}
    steps:
      - name: Init
        if: runner.os == 'Windows'
        run: cmake -E echo >> $env:GITHUB_ENV env=env:
      - name: Set Env Var
        run: cmake -E echo >> $${{env.env}}GITHUB_ENV MY_ENV_VAR=abc
      - name: Get Env Var
        run: cmake -E echo ${{env.MY_ENV_VAR}}
