name: Test

on:
  push:
    branches: [main]

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        runs-on: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{matrix.runs-on}}
    steps:
      - name: Disk Usage
        if: always() && runner.os != 'Windows'
        run: df -h
      - name: Disk Usage
        if: always() && runner.os == 'Windows'
        run: wmic logicaldisk get size,freespace,caption
